/* BASE CSS IMPORT */
@import "includes/css/base.css"; 

/* IMPORT TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS STYLINGS */

  /* BODY STYLING */
  body{
    background-color: rgba(0, 0, 0, 0.767);
    min-height: 85vh; 
  }

  hr.dashed{
    border: 1px dashed rgb(128, 94, 0);
    border-radius: 5px;
  }
  /* INPUT FIELDS  */
  input{
    @apply
        block 
        px-2.5 
        pb-2.5 
        pt-4 
        w-full 
        text-sm 
        text-gray-900 
        bg-transparent 
        rounded-lg 
        border 
        border-gray-300 
        appearance-none 
        dark:text-white 
        dark:border-gray-600 
        dark:focus:border-blue-500 
        focus:outline-none 
        focus:ring-0 
        focus:border-blue-600 
        
  }
  /* BUTTON STYLING */
  .btn {
    @apply  
      text-white 
      font-bold 
      py-2 
      px-4 
      rounded-sm 
      mb-12;
  }

  .btn-green {
    @apply 
      bg-green-500 
      hover:bg-green-700;
  }

  .btn-blue:hover {
    @apply bg-blue-700;
  }

  /* UNDERLINE HOVER EFFECT */
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0087ca;
  }

  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }




