.footer {
    @apply fixed;
    @apply left-0;
    @apply bottom-0;
    @apply bg-gray-200;
    @apply text-slate-100;
    @apply font-bold;
    @apply justify-center;
    @apply text-center;
    @apply sm:min-w-full;
    @apply w-full
    }
    
    #footer #footer-content {
        @apply max-h-0;
        @apply overflow-hidden;
        background-color: rgba(0, 0, 0, 0.57);
        transition: max-height 0.15s ease-out;
    }
    
    #footer:hover #footer-content {
        @apply max-h-[1700px];
        transition: max-height 0.25s ease-in;
    }

    .link-decoration{
        @apply cursor-pointer ;
        @apply font-bold ;
        @apply text-sm ;
        @apply text-pink-700 ;
    }

    .company-privacy-contract{
        @apply cursor-pointer ;
        @apply font-bold ;
        @apply text-base ;
        @apply text-white ;
    }

    .company-copyright{
        @apply cursor-pointer ;
        @apply font-bold ;
        @apply text-lg ;
        @apply text-white ;
    }
    