.hero-banner{
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 180px;
}

@media only screen and (min-width: 768px){
    .hero-banner{
        background-position: center;
        background-size: cover; 
        background-repeat: no-repeat;
        min-height: 450px;
    }
}